EXECUTE.json
[{"id":"3844f65.e5f5a0a","type":"tab","label":"EXECUTEsuelos2","disabled":false,"info":""},{"id":"69d203a8.8abb4c","type":"http response","z":"3844f65.e5f5a0a","name":"","statusCode":"","headers":{},"x":810,"y":180,"wires":[]},{"id":"778bc406.d2271c","type":"template","z":"3844f65.e5f5a0a","name":"visualizar mapa","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\t<head>\n\t\t<title>Datos para base de datos</title>\n\t</head>\n\t\t<body>\n\t\t\t<form action=\"http://localhost:1880/mapa\" >\n\t\t\t\t<input type=\"submit\" value=\"Procesar mapa en el servidor\">\n\t\t\t</form>\n  \n\t\t\t<form action= \"file:///C:\\Users\\JUL\\PBray1.html\" method=\"get\" target=\"_blank\">\n\t\t\t\t<button type=\"submit\">Ver Mapa!</button>\n\t\t\t</form>\n\t\t</body>\n</html>","output":"str","x":580,"y":240,"wires":[["69d203a8.8abb4c"]]},{"id":"ec150be4.ad71d8","type":"http in","z":"3844f65.e5f5a0a","name":"Servidor HTML","url":"/procesar","method":"get","upload":false,"swaggerDoc":"","x":260,"y":160,"wires":[["778bc406.d2271c"]]},{"id":"ff6dfcc9.e78fb","type":"exec","z":"3844f65.e5f5a0a","command":"cd","addpay":false,"append":"\"C:\\UJA\"","useSpawn":"true","timer":"10","oldrc":false,"name":"poner cmd en C:\\UJA","x":760,"y":360,"wires":[[],[],["df2dfb0d.585aa8"]]},{"id":"8649172a.dd89e8","type":"debug","z":"3844f65.e5f5a0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":440,"wires":[]},{"id":"1c1f6f2.c881491","type":"debug","z":"3844f65.e5f5a0a","name":"0 is good---1 is error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1340,"y":540,"wires":[]},{"id":"4cb1307.82971d","type":"http in","z":"3844f65.e5f5a0a","name":"","url":"/mapa","method":"get","upload":false,"swaggerDoc":"","x":330,"y":340,"wires":[["ff6dfcc9.e78fb","b1338968.c1a8a8"]]},{"id":"b1338968.c1a8a8","type":"debug","z":"3844f65.e5f5a0a","name":"mensaje boton","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":460,"wires":[]},{"id":"edf6a32e.fba5e","type":"debug","z":"3844f65.e5f5a0a","name":"error text","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1300,"y":500,"wires":[]},{"id":"df2dfb0d.585aa8","type":"exec","z":"3844f65.e5f5a0a","command":"\"C:\\Program Files\\R\\R-4.0.2\\bin\\R.exe\" CMD BATCH \"C:\\UJA\\processingC.R\"","addpay":false,"append":"","useSpawn":"true","timer":"10","oldrc":false,"name":"abrir archivo por lotes (batch)","x":1040,"y":480,"wires":[["8649172a.dd89e8"],["edf6a32e.fba5e"],["1c1f6f2.c881491"]]}]