Server and form with tables.json
[{"id":"d47d1f14.84743","type":"tab","label":"Server and form with tables","disabled":false,"info":""},{"id":"4e54b20b.9dc1ac","type":"http response","z":"d47d1f14.84743","name":"","statusCode":"","headers":{},"x":790,"y":100,"wires":[]},{"id":"576d4a72.8f1044","type":"template","z":"d47d1f14.84743","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n\t\t\t                    <a href=\"file///C:\\Users\\JUL\\Google Drive\\2020\\UJA\\TFM_julius_koritschoner\\codigos TFM\\procesar_mapa.html\" class=\"btn btn-primary\">\"Pestana de procesamiento de mapa\"</a>\n\n    <head>\n        <link rel=\"stylesheet\" href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n    <title>Datos para base de datos</title>\n    </head>\n        <body>\n            \n                <div class=\"container\">\n                    <form method=\"POST\" action=\"/inserta\">\n                          <label for=\"lat\">Latitud</label><br>\n                          <input type=\"text\" id=\"lat\" name=\"lat\" ><br>\n                            <label for=\"lon\">Longitud</label><br>\n                          <input type=\"text\" id=\"lon\" name=\"lon\"><br>\n                          <label for=\"nombre\">Nombre</label><br>\n                          <input type=\"text\" id=\"nombre\" name=\"nombre\"><br>\n                            <label for=\"mos\">Contenido de Materia Orgánica (%) </label><br>\n                          <input type=\"text\" id=\"mos\" name=\"mos\" ><br>\n                              <label for=\"arc\">Contenido de Arcilla (%) </label><br>\n                          <input type=\"text\" id=\"arc\" name=\"arc\" ><br>\n                            <label for=\"comentario\">Comentario</label><br>\n                          <input type=\"text\" id=\"comentario\" name=\"comentario\"><br>\n                          \n                            <label for=\"pext\">Fósforo Extractable (ppm)</label><br>\n                          <input type=\"text\" id=\"pext\" name=\"pext\"><br>\n                          \n                           <label for=\"pext\">Altitud (msnm)</label><br>\n                          <input type=\"text\" id=\"altitud\" name=\"altitud\"><br>\n                          <br>\n                          <input type=\"submit\" value=\"Cargar GeoPunto y propiedades de la muestra\">\n                         \n                    </form>\n                    <br>\n                    \n                    <div class=\"panel panel-primary\">\n                                  <div class=\"panel-body\">  Seleccionar archivo con multiples muestras de suelo \n                                  <a href=\"https://github.com/jjkori/TFM/blob/main/help1.txt\">-Leer instructivo-</a>\n                                          <form action=\"/archivo\" method=\"POST\" enctype=\"multipart/form-data\" >\n                            <input type=\"file\" name=\"myFile\" />\n                            <input type=\"submit\" value=\"Enviar\">\n                        </form>\n                                  </div>\n                                </div>\n\n\n                    \n                    \n                        <table class=\"table\">\n                            <p class=\"text-center\">Tabla con los datos cargados por el usuario</p>\n                              <thead>\n                                <tr>\n                                  <th>ID</th>\n                                  <th>Nombre</th>\n                                  <th>Latitud</th>\n                                  <th>Longitud</th>\n                                  <th>Materia Organica (%)</th>\n                                  <th>Arcilla (%) </th>\n                                  <th>Fosforo extractable (ppm)</th>\n                                  <th>Altitud (m)</th>\n                                  \n                                </tr>\n                              </thead>\n                              </tbody>\n                    {{#payload}}\n                        <tr class=\"table-primary\">\n                          <td>{{id}}</td>\n                          <td>{{nombre}}</td>\n                          <td>{{lat}}</td>\n                          <td>{{lon}}</td>\n                          <td>{{mos}}</td>\n                          <td>{{arc}}</td>\n                          <td>{{pext}}</td>\n                          <td>{{altitud}}</td>\n                         \n            <!-- ACA el boton para borrar registros <td> <a href=\"/inserta/delete/{{id}}\"class=\"btn btn-danger\"> Delete</a></td> -->\n                        </tr>\n                    {{/payload}}\n              </tbody>\n            </table>\n                    \n                            <form method=\"POST\" action=\"/inserta/delete\">\n                                <label for=\"id\">Borrar registro con ID número:</label><br>\n                                <input type=\"text\" id=\"id\" name=\"id\">\n                                <input type=\"submit\" value=\"Borrar registro\">\n                            </form>\n                        \t\n                        \t<form action=\"http://localhost:1880/borrartodo\" >\n            \t\t\t\t    <input type=\"submit\" value=\"Borrar todos los datos\">\n            \t\t\t    </form>\n\n                  \n                    <div class=\"d-flex justify-content-center\">\n                     <a class=\"btn btn-primary btn-lg\" href=\"http://127.0.0.1:1880/inserta\"><button>Refrescar datos de la tabla</button></a>\n            \n                        \n                        \n                    </div>\n                    \n                   \n            \n                    \n                    \n                </div>\n             \n                 \n            \n                               \n            </div>\n            \n            <br>\n            \n            <div class=\"container\">\n\n            </div>\n        </body>\n            </html>\n            ","output":"str","x":620,"y":120,"wires":[["4e54b20b.9dc1ac"]]},{"id":"7d5a94c9.4965dc","type":"http in","z":"d47d1f14.84743","name":"/inserta \"Servidor HTML\"","url":"/inserta","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["27008aeb.a96826"]]},{"id":"27008aeb.a96826","type":"template","z":"d47d1f14.84743","name":"leer bd","field":"payload","fieldType":"msg","format":"sql","syntax":"mustache","template":"SELECT \nid,\n* FROM public.suelos","output":"str","x":340,"y":120,"wires":[["9437987b.07cab8","3b667305.a1657c"]]},{"id":"9437987b.07cab8","type":"debug","z":"d47d1f14.84743","name":"seleccionar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":60,"wires":[]},{"id":"81c2b3f2.fa404","type":"debug","z":"d47d1f14.84743","name":"QUE sale de la select all","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":180,"wires":[]},{"id":"3b667305.a1657c","type":"postgres","z":"d47d1f14.84743","postgresdb":"621ed679.2d86c8","name":"SELECT BD suelos","output":true,"perrow":false,"rowspermsg":"1","outputs":1,"x":330,"y":180,"wires":[["576d4a72.8f1044","81c2b3f2.fa404"]]},{"id":"8797016e.48cbd","type":"postgres","z":"d47d1f14.84743","postgresdb":"621ed679.2d86c8","name":"INSERT BD suelos","output":true,"perrow":false,"rowspermsg":"1","outputs":1,"x":330,"y":240,"wires":[["576d4a72.8f1044","c1a58566.2626a8"]]},{"id":"2b60daad.fbf176","type":"template","z":"d47d1f14.84743","name":"Patrón de Inserción","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO suelos (nombre, geom, mos, arc, pext, altitud, lon, lat, comentario)\nVALUES (\n'{{payload.nombre}}',\nST_POINT (\n{{payload.lat}},\n{{payload.lon}}),\n'{{payload.mos}}',\n'{{payload.arc}}',\n'{{payload.pext}}',\n'{{payload.altitud}}',\n'{{payload.lon}}',\n'{{payload.lat}}',\n'{{payload.comentario}}'\n)\n","output":"str","x":320,"y":320,"wires":[["c359e2df.9984f","8797016e.48cbd"]]},{"id":"c359e2df.9984f","type":"debug","z":"d47d1f14.84743","name":"Datos insertados en BD","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":380,"wires":[]},{"id":"b9321c8.49480e","type":"http in","z":"d47d1f14.84743","name":"","url":"/inserta","method":"post","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["2b60daad.fbf176","e77b1e5f.7bf72"]]},{"id":"e77b1e5f.7bf72","type":"debug","z":"d47d1f14.84743","name":"Datos enviados","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":320,"y":420,"wires":[]},{"id":"397fdffd.89666","type":"http in","z":"d47d1f14.84743","name":"","url":"/inserta/delete","method":"post","upload":false,"swaggerDoc":"","x":110,"y":480,"wires":[["db0d62cb.f75c1","27008aeb.a96826","735eec0f.a00604"]]},{"id":"db0d62cb.f75c1","type":"debug","z":"d47d1f14.84743","name":"Row Number","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370,"y":580,"wires":[]},{"id":"c1a58566.2626a8","type":"debug","z":"d47d1f14.84743","name":"INSERT BD","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":300,"wires":[]},{"id":"fae2bf67.e7191","type":"postgres","z":"d47d1f14.84743","postgresdb":"621ed679.2d86c8","name":"DELETE ROW BD suelos","output":true,"perrow":false,"rowspermsg":"1","outputs":1,"x":610,"y":480,"wires":[[]]},{"id":"735eec0f.a00604","type":"template","z":"d47d1f14.84743","name":"Patrón de Inserción","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE from suelos where id={{payload.id}}","output":"str","x":370,"y":480,"wires":[["fae2bf67.e7191"]]},{"id":"5602ac09.0f8e34","type":"postgres","z":"d47d1f14.84743","postgresdb":"621ed679.2d86c8","name":"DELETE * BD suelos","output":true,"perrow":false,"rowspermsg":"1","outputs":1,"x":600,"y":640,"wires":[[]]},{"id":"988e4eac.b6ba6","type":"template","z":"d47d1f14.84743","name":"Patrón de Inserción","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE from suelos","output":"str","x":370,"y":640,"wires":[["5602ac09.0f8e34","1f69a6c.114bf59"]]},{"id":"d3fe5c5e.f849f","type":"http in","z":"d47d1f14.84743","name":"","url":"/borrartodo","method":"get","upload":false,"swaggerDoc":"","x":100,"y":640,"wires":[["988e4eac.b6ba6","576d4a72.8f1044"]]},{"id":"1f69a6c.114bf59","type":"debug","z":"d47d1f14.84743","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":720,"wires":[]},{"id":"621ed679.2d86c8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"RSyAG","ssl":false}]