UPLOAD and INSERT.json
[{"id":"47012bf9.1f8054","type":"tab","label":"UPLOAD and INSERT in db","disabled":false,"info":""},{"id":"e48c88ce.45d038","type":"http in","z":"47012bf9.1f8054","name":"","url":"/simple","method":"get","upload":false,"swaggerDoc":"","x":150,"y":100,"wires":[["2bcbbf11.60cff"]]},{"id":"2bcbbf11.60cff","type":"template","z":"47012bf9.1f8054","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Seleccione el archivo:</h1>\n<form action=\"/archivo\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Enviar\">\n</form>","output":"str","x":430,"y":80,"wires":[["247b19d7.541826","3feae183.f05cee"]]},{"id":"247b19d7.541826","type":"http response","z":"47012bf9.1f8054","name":"","statusCode":"","headers":{},"x":630,"y":100,"wires":[]},{"id":"d20dc3bb.a8b79","type":"comment","z":"47012bf9.1f8054","name":"Simple","info":"https://flows.nodered.org/flow/c70d0b4c54b583cf30c7e989b74feb68","x":130,"y":60,"wires":[]},{"id":"a0392aac.fede68","type":"http response","z":"47012bf9.1f8054","name":"","statusCode":"","headers":{},"x":630,"y":160,"wires":[]},{"id":"cb0a9572.b18008","type":"http in","z":"47012bf9.1f8054","name":"","url":"/archivo","method":"post","upload":true,"swaggerDoc":"","x":130,"y":160,"wires":[["8cc766b.e7a1098"]]},{"id":"f6becb3b.23c3c8","type":"template","z":"47012bf9.1f8054","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p>Archivo {{name}} cargado en la base de datos !</p>\n\n<a href=\"http://127.0.0.1:1880/inserta\">Volver a la pagina principal</a>\n\n\n\n<h2>Contents:</h2>\n\n<pre>\n{{{payload}}}\n</pre>","output":"str","x":470,"y":220,"wires":[["a0392aac.fede68","2cf65838.74b228"]]},{"id":"8cc766b.e7a1098","type":"function","z":"47012bf9.1f8054","name":"toBase64","func":"msg.name = msg.req.files[0].originalname;\n\nif (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.req.files[0].buffer.toString('base64')}\">`;\n} else {\n    msg.payload = msg.req.files[0].buffer.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["f6becb3b.23c3c8","63ba40e1.ea276","296bd5eb.077a1a"]]},{"id":"3feae183.f05cee","type":"debug","z":"47012bf9.1f8054","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":40,"wires":[]},{"id":"2cf65838.74b228","type":"debug","z":"47012bf9.1f8054","name":"html","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":220,"wires":[]},{"id":"63ba40e1.ea276","type":"debug","z":"47012bf9.1f8054","name":"file parseado","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":300,"wires":[]},{"id":"bfc989e1.4ba388","type":"debug","z":"47012bf9.1f8054","name":"objetos para csv","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":380,"wires":[]},{"id":"296bd5eb.077a1a","type":"csv","z":"47012bf9.1f8054","name":"","sep":";","hdrin":true,"hdrout":false,"multi":"one","ret":"\\r\\n","temp":"x,y","skip":"0","strings":true,"x":370,"y":380,"wires":[["bfc989e1.4ba388","57ce3d83.808764"]]},{"id":"57ce3d83.808764","type":"template","z":"47012bf9.1f8054","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO suelos (nombre, geom, mos, pext, altitud, lon, lat)\nVALUES (\n'{{payload.nombre}}',\nST_POINT (\n{{payload.lon}},\n{{payload.lat}}),\n'{{payload.mos}}',\n'{{payload.pext}}',\n'{{payload.altitud}}',\n'{{payload.lon}}',\n'{{payload.lat}}'\n)","output":"str","x":500,"y":500,"wires":[["d817834d.8c914","c10cf29d.e90a2"]]},{"id":"d817834d.8c914","type":"postgres","z":"47012bf9.1f8054","postgresdb":"621ed679.2d86c8","name":"BD suelos","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":640,"y":580,"wires":[]},{"id":"c10cf29d.e90a2","type":"debug","z":"47012bf9.1f8054","name":"insertar en BD","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":500,"wires":[]},{"id":"621ed679.2d86c8","type":"postgresdb","z":"","hostname":"localhost","port":"5432","db":"RSyAG","ssl":false}]